html {
    background-color: rgb(28, 27, 29);
    font-family: sans-serif;
}
.app {
}

.timerDisplay {
    padding: 0 30%;
}

.timerDisplayText {
    width: 100%;
    border: 4px solid white;
    border-radius: 50%;
    text-align: center;
    font-size: 300%;
    padding: 50% 0;
    line-height: 0;
    position: relative;
    color: #80b4fe;
    font-family: Helvetica, Arial Black;
}

.button {
    background-color: #80b4fe;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 20%;
    border: none;
    display: inline;
    cursor: pointer;
    user-select: none;
}

.form {
    text-align: center;
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
}

.modalContent{
    text-align: center;
    color: white;
    background-color: rgb(28, 27, 29);
    border: white solid 4px;
    border-radius: 5%;
    margin: 0 20%;
}
